In [2]:
import pandas as pd

In [113]:
df = pd.read_csv(r'C:\Users\leasi\Documents\projet_portfolio\P2_Genealogy\ascendance_PG.csv', encoding='iso-8859-1', delimiter=';')
print(df.head())

  N° Sosa/réf.  Génération                             Nom  Naissance  \
0          NaN           1   Pascale Valérie Sophie GIRARD   4.4.1971
1            1           2              Jean-Claude GIRARD  15.6.1946
2          NaN           2    Claudette Françoise GROLLEAU   1.6.1946
3            2           3           Maurice Clovis GIRARD  17.4.1909
4            3           3  Gisèle Audrée Severine RAYNEAU  25.1.1917

        Lieu naissance                        Conjoint Date d'union  \
0               Cognac                  Ralf SIEBRECHT          NaN
1        Cherbonnières    Claudette Françoise GROLLEAU   14.10.1967
2        Cherbonnières              Jean-Claude GIRARD   14.10.1967
3  Saint-Jean-d'Angély  Gisèle Audrée Severine RAYNEAU          NaN
4                 Néré           Maurice Clovis GIRARD          NaN

    Lieu d'union       Décès         Lieu décès  Age
0            NaN         NaN                NaN  NaN
1  Cherbonnières         NaN                NaN  NaN
2  Cherbonnières   24.2.2016  Cherves-Richemont   69
3            NaN   5.10.1980             Paillé   71
4            NaN  20.12.1993             Paillé   76

In [114]:
df.columns

Index(['N° Sosa/réf.', 'Génération', 'Nom', 'Naissance', 'Lieu naissance',
       'Conjoint', 'Date d'union', 'Lieu d'union', 'Décès', 'Lieu décès',
       'Age'],
      dtype='object')

In [115]:
# the missing values
df.isna().sum()

N° Sosa/réf.      206
Génération          0
Nom                 0
Naissance         236
Lieu naissance    405
Conjoint            9
Date d'union      330
Lieu d'union      352
Décès             320
Lieu décès        372
Age               354
dtype: int64

Separation of the column 'Nom' in 2 to get one with the first name and anoter with the last name

In [116]:
import re

# create a regex pattern to match all capital words
pattern = r'\b[A-ZÀ-ÖØ-Ý]+\b'

# create a function to extract the first match from a string
def extract_first_match(string):
    match = re.search(pattern, string)
    return match.group(0) if match else ''

# apply the function to the 'Nom' column to extract the first capital word
df['Nom de famille'] = df['Nom'].apply(extract_first_match)

# remove the capital word from the 'Nom' column using the str.replace() method
df['Nom'] = df['Nom'].str.replace(pattern, '', regex=True)

# print the result
print(df)

        N° Sosa/réf.  Génération                      Nom  Naissance  \
0                NaN           1  Pascale Valérie Sophie    4.4.1971
1                  1           2             Jean-Claude   15.6.1946
2                NaN           2     Claudette Françoise    1.6.1946
3                  2           3          Maurice Clovis   17.4.1909
4                  3           3  Gisèle Audrée Severine   25.1.1917
..               ...         ...                      ...        ...
653   15 677 (7 613)          15                Julienne        1585
654   15 678 (7 614)          15                  Pierre         NaN
655   15 679 (7 615)          15                   Marie         NaN
656  16 226 (14 562)          15                  Thomas      ~ 1590
657  16 227 (14 563)          15                   Renée      ~ 1590

          Lieu naissance                        Conjoint Date d'union  \
0                 Cognac                  Ralf SIEBRECHT          NaN
1          Cherbonnières    Claudette Françoise GROLLEAU   14.10.1967
2          Cherbonnières              Jean-Claude GIRARD   14.10.1967
3    Saint-Jean-d'Angély  Gisèle Audrée Severine RAYNEAU          NaN
4                   Néré           Maurice Clovis GIRARD          NaN
..                   ...                             ...          ...
653                  NaN                   Laurent SORIN         1608
654                  NaN                    Marie ROBLIN          NaN
655                  NaN                   Pierre DURAND          NaN
656                  NaN                   Renée SALIGNE         1616
657                  NaN                Thomas VILLENEAU         1616

      Lieu d'union       Décès         Lieu décès  Age Nom de famille
0              NaN         NaN                NaN  NaN         GIRARD
1    Cherbonnières         NaN                NaN  NaN         GIRARD
2    Cherbonnières   24.2.2016  Cherves-Richemont   69       GROLLEAU
3              NaN   5.10.1980             Paillé   71         GIRARD
4              NaN  20.12.1993             Paillé   76        RAYNEAU
..             ...         ...                ...  ...            ...
653            NaN    9.3.1628    La Limouzinière   43         ARNAUD
654            NaN         NaN                NaN  NaN         DURAND
655            NaN         NaN                NaN  NaN         ROBLIN
656            NaN         NaN                NaN  NaN      VILLENEAU
657            NaN         NaN                NaN  NaN        SALIGNE

[658 rows x 12 columns]

In [117]:
# Rename the column for the first name
df = df.rename(columns={'Nom': 'Prénoms'})
print(df)

        N° Sosa/réf.  Génération                  Prénoms  Naissance  \
0                NaN           1  Pascale Valérie Sophie    4.4.1971
1                  1           2             Jean-Claude   15.6.1946
2                NaN           2     Claudette Françoise    1.6.1946
3                  2           3          Maurice Clovis   17.4.1909
4                  3           3  Gisèle Audrée Severine   25.1.1917
..               ...         ...                      ...        ...
653   15 677 (7 613)          15                Julienne        1585
654   15 678 (7 614)          15                  Pierre         NaN
655   15 679 (7 615)          15                   Marie         NaN
656  16 226 (14 562)          15                  Thomas      ~ 1590
657  16 227 (14 563)          15                   Renée      ~ 1590

          Lieu naissance                        Conjoint Date d'union  \
0                 Cognac                  Ralf SIEBRECHT          NaN
1          Cherbonnières    Claudette Françoise GROLLEAU   14.10.1967
2          Cherbonnières              Jean-Claude GIRARD   14.10.1967
3    Saint-Jean-d'Angély  Gisèle Audrée Severine RAYNEAU          NaN
4                   Néré           Maurice Clovis GIRARD          NaN
..                   ...                             ...          ...
653                  NaN                   Laurent SORIN         1608
654                  NaN                    Marie ROBLIN          NaN
655                  NaN                   Pierre DURAND          NaN
656                  NaN                   Renée SALIGNE         1616
657                  NaN                Thomas VILLENEAU         1616

      Lieu d'union       Décès         Lieu décès  Age Nom de famille
0              NaN         NaN                NaN  NaN         GIRARD
1    Cherbonnières         NaN                NaN  NaN         GIRARD
2    Cherbonnières   24.2.2016  Cherves-Richemont   69       GROLLEAU
3              NaN   5.10.1980             Paillé   71         GIRARD
4              NaN  20.12.1993             Paillé   76        RAYNEAU
..             ...         ...                ...  ...            ...
653            NaN    9.3.1628    La Limouzinière   43         ARNAUD
654            NaN         NaN                NaN  NaN         DURAND
655            NaN         NaN                NaN  NaN         ROBLIN
656            NaN         NaN                NaN  NaN      VILLENEAU
657            NaN         NaN                NaN  NaN        SALIGNE

[658 rows x 12 columns]

In [118]:
# Change the position of the column 'Nom de famille'
# remove the 'Nom de famille' column and save it as a Series
col_C = df.pop('Nom de famille')

# insert the 'C' column at the corect position
df.insert(2, 'Nom de famille', col_C)

# print the updated column order
print(df.columns)

Index(['N° Sosa/réf.', 'Génération', 'Nom de famille', 'Prénoms', 'Naissance',
       'Lieu naissance', 'Conjoint', 'Date d'union', 'Lieu d'union', 'Décès',
       'Lieu décès', 'Age'],
      dtype='object')

Separation of the column 'conjoint' to get 2 column with the first and last name

In [119]:
# I can use the same pattern/function created before

# Replace the NaN values by nothing to avoid non-string values
df['Conjoint'] = df['Conjoint'].fillna('')

# apply the function to the 'Text' column using the apply() method
df['Nom de famille du conjoint'] = df['Conjoint'].apply(extract_first_match)

# remove the capital word from the 'Nom' column using the str.replace() method
df['Conjoint'] = df['Conjoint'].str.replace(pattern, '', regex=True)

df = df.rename(columns={'Conjoint': 'Prénoms du conjoint'})

# print the result
print(df)

        N° Sosa/réf.  Génération Nom de famille                  Prénoms  \
0                NaN           1         GIRARD  Pascale Valérie Sophie
1                  1           2         GIRARD             Jean-Claude
2                NaN           2       GROLLEAU     Claudette Françoise
3                  2           3         GIRARD          Maurice Clovis
4                  3           3        RAYNEAU  Gisèle Audrée Severine
..               ...         ...            ...                      ...
653   15 677 (7 613)          15         ARNAUD                Julienne
654   15 678 (7 614)          15         DURAND                  Pierre
655   15 679 (7 615)          15         ROBLIN                   Marie
656  16 226 (14 562)          15      VILLENEAU                  Thomas
657  16 227 (14 563)          15        SALIGNE                   Renée

     Naissance       Lieu naissance      Prénoms du conjoint Date d'union  \
0     4.4.1971               Cognac                    Ralf           NaN
1    15.6.1946        Cherbonnières     Claudette Françoise    14.10.1967
2     1.6.1946        Cherbonnières             Jean-Claude    14.10.1967
3    17.4.1909  Saint-Jean-d'Angély  Gisèle Audrée Severine           NaN
4    25.1.1917                 Néré          Maurice Clovis           NaN
..         ...                  ...                      ...          ...
653       1585                  NaN                 Laurent          1608
654        NaN                  NaN                   Marie           NaN
655        NaN                  NaN                  Pierre           NaN
656     ~ 1590                  NaN                   Renée          1616
657     ~ 1590                  NaN                  Thomas          1616

      Lieu d'union       Décès         Lieu décès  Age  \
0              NaN         NaN                NaN  NaN
1    Cherbonnières         NaN                NaN  NaN
2    Cherbonnières   24.2.2016  Cherves-Richemont   69
3              NaN   5.10.1980             Paillé   71
4              NaN  20.12.1993             Paillé   76
..             ...         ...                ...  ...
653            NaN    9.3.1628    La Limouzinière   43
654            NaN         NaN                NaN  NaN
655            NaN         NaN                NaN  NaN
656            NaN         NaN                NaN  NaN
657            NaN         NaN                NaN  NaN

    Nom de famille du conjoint
0                    SIEBRECHT
1                     GROLLEAU
2                       GIRARD
3                      RAYNEAU
4                       GIRARD
..                         ...
653                      SORIN
654                     ROBLIN
655                     DURAND
656                    SALIGNE
657                  VILLENEAU

[658 rows x 13 columns]

In [120]:
# Change the position of the column 'Nom de famille du conjoint'
# remove the 'Nom de famille' column and save it as a Series
col_D = df.pop('Nom de famille du conjoint')

# insert the 'D' column at the corect position
df.insert(6, 'Nom de famille du conjoint', col_D)

# print the updated column order
print(df.columns)

Index(['N° Sosa/réf.', 'Génération', 'Nom de famille', 'Prénoms', 'Naissance',
       'Lieu naissance', 'Nom de famille du conjoint', 'Prénoms du conjoint',
       'Date d'union', 'Lieu d'union', 'Décès', 'Lieu décès', 'Age'],
      dtype='object')

Add an ID column

In [121]:
# Add an ID column
df.reset_index(inplace=True)
df.rename(columns={'index': 'ID'}, inplace=True)

print(df)

      ID     N° Sosa/réf.  Génération Nom de famille                  Prénoms  \
0      0              NaN           1         GIRARD  Pascale Valérie Sophie
1      1                1           2         GIRARD             Jean-Claude
2      2              NaN           2       GROLLEAU     Claudette Françoise
3      3                2           3         GIRARD          Maurice Clovis
4      4                3           3        RAYNEAU  Gisèle Audrée Severine
..   ...              ...         ...            ...                      ...
653  653   15 677 (7 613)          15         ARNAUD                Julienne
654  654   15 678 (7 614)          15         DURAND                  Pierre
655  655   15 679 (7 615)          15         ROBLIN                   Marie
656  656  16 226 (14 562)          15      VILLENEAU                  Thomas
657  657  16 227 (14 563)          15        SALIGNE                   Renée

     Naissance       Lieu naissance Nom de famille du conjoint  \
0     4.4.1971               Cognac                  SIEBRECHT
1    15.6.1946        Cherbonnières                   GROLLEAU
2     1.6.1946        Cherbonnières                     GIRARD
3    17.4.1909  Saint-Jean-d'Angély                    RAYNEAU
4    25.1.1917                 Néré                     GIRARD
..         ...                  ...                        ...
653       1585                  NaN                      SORIN
654        NaN                  NaN                     ROBLIN
655        NaN                  NaN                     DURAND
656     ~ 1590                  NaN                    SALIGNE
657     ~ 1590                  NaN                  VILLENEAU

         Prénoms du conjoint Date d'union   Lieu d'union       Décès  \
0                      Ralf           NaN            NaN         NaN
1       Claudette Françoise    14.10.1967  Cherbonnières         NaN
2               Jean-Claude    14.10.1967  Cherbonnières   24.2.2016
3    Gisèle Audrée Severine           NaN            NaN   5.10.1980
4            Maurice Clovis           NaN            NaN  20.12.1993
..                       ...          ...            ...         ...
653                 Laurent          1608            NaN    9.3.1628
654                   Marie           NaN            NaN         NaN
655                  Pierre           NaN            NaN         NaN
656                   Renée          1616            NaN         NaN
657                  Thomas          1616            NaN         NaN

            Lieu décès  Age
0                  NaN  NaN
1                  NaN  NaN
2    Cherves-Richemont   69
3               Paillé   71
4               Paillé   76
..                 ...  ...
653    La Limouzinière   43
654                NaN  NaN
655                NaN  NaN
656                NaN  NaN
657                NaN  NaN

[658 rows x 14 columns]

The columns with a date are not clean
Theres valeus wer it only the year with a ~ to say 'environ'

In [122]:
print(df.dtypes)

ID                             int64
N° Sosa/réf.                  object
Génération                     int64
Nom de famille                object
Prénoms                       object
Naissance                     object
Lieu naissance                object
Nom de famille du conjoint    object
Prénoms du conjoint           object
Date d'union                  object
Lieu d'union                  object
Décès                         object
Lieu décès                    object
Age                           object
dtype: object

In [123]:
# Delete the ~ from the columns
df['Naissance'] = df['Naissance'].str.replace('~', '')
df["Date d'union"] = df["Date d'union"].str.replace('~', '')
df['Décès'] = df['Décès'].str.replace('~', '')

df['Age'] = df['Age'].str.replace('~', '')
df['Age'] = df['Age'].str.replace('<', '')
df['Age'] = df['Age'].str.replace('>', '')

In [124]:
print(df)

      ID     N° Sosa/réf.  Génération Nom de famille                  Prénoms  \
0      0              NaN           1         GIRARD  Pascale Valérie Sophie
1      1                1           2         GIRARD             Jean-Claude
2      2              NaN           2       GROLLEAU     Claudette Françoise
3      3                2           3         GIRARD          Maurice Clovis
4      4                3           3        RAYNEAU  Gisèle Audrée Severine
..   ...              ...         ...            ...                      ...
653  653   15 677 (7 613)          15         ARNAUD                Julienne
654  654   15 678 (7 614)          15         DURAND                  Pierre
655  655   15 679 (7 615)          15         ROBLIN                   Marie
656  656  16 226 (14 562)          15      VILLENEAU                  Thomas
657  657  16 227 (14 563)          15        SALIGNE                   Renée

     Naissance       Lieu naissance Nom de famille du conjoint  \
0     4.4.1971               Cognac                  SIEBRECHT
1    15.6.1946        Cherbonnières                   GROLLEAU
2     1.6.1946        Cherbonnières                     GIRARD
3    17.4.1909  Saint-Jean-d'Angély                    RAYNEAU
4    25.1.1917                 Néré                     GIRARD
..         ...                  ...                        ...
653       1585                  NaN                      SORIN
654        NaN                  NaN                     ROBLIN
655        NaN                  NaN                     DURAND
656       1590                  NaN                    SALIGNE
657       1590                  NaN                  VILLENEAU

         Prénoms du conjoint Date d'union   Lieu d'union       Décès  \
0                      Ralf           NaN            NaN         NaN
1       Claudette Françoise    14.10.1967  Cherbonnières         NaN
2               Jean-Claude    14.10.1967  Cherbonnières   24.2.2016
3    Gisèle Audrée Severine           NaN            NaN   5.10.1980
4            Maurice Clovis           NaN            NaN  20.12.1993
..                       ...          ...            ...         ...
653                 Laurent          1608            NaN    9.3.1628
654                   Marie           NaN            NaN         NaN
655                  Pierre           NaN            NaN         NaN
656                   Renée          1616            NaN         NaN
657                  Thomas          1616            NaN         NaN

            Lieu décès  Age
0                  NaN  NaN
1                  NaN  NaN
2    Cherves-Richemont   69
3               Paillé   71
4               Paillé   76
..                 ...  ...
653    La Limouzinière   43
654                NaN  NaN
655                NaN  NaN
656                NaN  NaN
657                NaN  NaN

[658 rows x 14 columns]

In [125]:
# Extraction of the data set to a csv file
df.to_csv('ascendance_PG_mod.csv', index=False)